<div class="delivery-date">
  <%= t('activerecord.attributes.spree/order.delivery_date') %>:
  <br />
  <% if order.delivery_date.present? %>
    <%= l(order.delivery_date) %>
    <%= " - #{l(order.delivery_time)}" if SolidusDeliveryOptions::Config.delivery_time_enabled %>
    <% else %>
  <% end %>
</div>
