#delivery-options-homepage {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 10px;

  .row {
    margin-bottom: 0;
  }

  .success {
    p {
      margin: 0;
      padding: 5px 0;
    }
  }

  .error h5 {
    color: red;
  }

  .field {

    display: block;
    margin-bottom: 5px;

    label {
      margin-right: 5px;
    }

    input[type='text'], select {
      width: 120px;
    }

    input[type='submit'] {
      margin-top: 5px;
      width: 200px;
    }

  }
}
