<div class="date-range-filter field">
  <%= label_tag nil, t('activerecord.attributes.spree/order.delivery_date') %>
  <div class="date-range-fields input-group">
    <%= f.text_field :delivery_date_gt,
                     class: 'datepicker form-control datepicker-from flatpickr-input',
                     value: params[:q][:delivery_date_gt],
                     placeholder: Spree.t(:start) %>

    <div class="input-group-prepend input-group-append">
      <span class="input-group-text range-divider">
        <i class="fa fa-arrow-right"></i>
      </span>
    </div>

    <%= f.text_field :delivery_date_lt,
                     class: 'datepicker form-control datepicker-to flatpickr-input',
                     value: params[:q][:delivery_date_lt],
                     placeholder: Spree.t(:stop) %>
  </div>
</div>
